@import "tailwindcss";

@font-face {
  font-family: "Sukhumvit";
  src: url("/fonts/SukhumvitSet-Text.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Sukhumvit";
  src: url("/fonts/SukhumvitSet-Bold.ttf");
  font-weight: 700;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Sukhumvit", sans-serif;
}
